@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #eed9c4;
}

.header {
    background-color: #F4F4F4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar {
    background-color: #F4F4F4;
}

.logo {
    
    width: 200px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: lightgrey;
    transition: background 0.25s;
}

.search:focus-within {
    background: #f1f1f1;
}

.search-input {
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder, .search-icon {
    color: rgba(0,0,0,0.25);
}

.afis {
    padding-top: 220px;
    width: 500px;
    padding-right: 50px;
}

.introducere{
    display: flex;
    align-items: center;
}

.intr{
    
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 280px;
    line-height: 30px;
    
}

.usheading {
    text-decoration: underline;

    
}

.paragrafe {
    box-sizing: inherit;
    text-indent: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    line-height: 1.50rem;
    
}

.insta {
    padding-top: 20px;
    color: black;
    transition: 0.2s;
    
}

ion-icon {
    font-size: 50px;
}

.insta:hover {
    color: darkred;
}

.column {
    width: 100%;
}

@media (min-width: 600px) {
    .column {
        width: 50%;
    }
}